<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiscode.recylerview.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CachePositionRecyclerviewActivity"
            android:exported="false" />
        <activity android:name=".StickHeaderRecylerViewActivity" />
        <activity android:name=".CommanMutipleAdapterDemoActivity" />
        <activity android:name=".CommanAapterDemoActivity" />
        <activity android:name=".CommanWithEmptyAdapterActivity" />
        <activity android:name=".MutipleTypeViewRecyclerActivity" />
        <activity android:name=".GridLayoutActivity" />
        <activity android:name=".MutipleTypeGridRecyclerActivity" />
        <activity android:name=".LinkageRecyclerViewActivity" />
        <activity android:name=".HomeRecylerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecylerViewSampleActivity" />
    </application>

</manifest>