<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="keno.android.ui.sample">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--meta占位 通过gradle方式 多productFlavors配置实现多渠道包-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!--    通过360加固工具动态修改该项配置值从而实现多渠道包    -->
        <!--
                <meta-data
                    android:name="UMENG_CHANNEL"
                    android:value="default" />
        -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".constraint.GuidLineActivity" />
        <activity android:name=".constraint.ChainActivity" />
        <activity android:name=".constraint.PercentActivity" />
        <activity android:name=".constraint.CenterAndBiasActivity" />
        <activity android:name=".constraint.MarginGoneActivity" />
        <activity android:name=".constraint.RelaytivePositionActivity" />
        <activity android:name=".ConstraintLayoutDemoActivity" />
    </application>

</manifest>